.menu-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.asf {
    height: 200px;
    width: 600px;
    background: #c3c3c3;
}
.activator {
    color: black;
    background-color: red;
}