@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://bootswatch.com/4/darkly/bootstrap.min.css");

.container-box {
  margin: 30px 60px 0;
    display: grid;
    grid-template-columns: 380px 1fr;
}